---
layout: default
title: Home
pagination:
  enabled: true
  collection: works
  sort_field: "sort-order"
---

<!-- The main content area -->
<section id="hero">
  <div class="grid-xlarge">
    <div class="content">
      <h1>I'm Duncan, a user experience specialist in Vancouver, BC.</h1>
      <h2>Solving business and user problems through strategic design. I work collaboratively to help uncover the right problems, finding the "why" for every "what".</h2>
      <div class="homepage-header-buttons">
        <a class="button homepage-header linkedin" href="https://linkedin.com/in/duncanschouten" target="_blank">LinkedIn</a>
        <a class="button homepage-header work" href="#work">See Work</a>
      </div>
    </div>
  </div>
</section>

<section id="work" class="posts" style="background: #f2f2f2;">
  <div class="grid-xlarge">
    <div class="content">
      <div class="featured-work">
        <h2>Recent Work</h2>
      </div>
      <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>
        {% for post in paginator.posts %}

          <!-- The tag below includes the markup for each post - partials/post-card.html -->
          {% include post-card.html %}

        {% endfor %}
      </div>
    </div>
  </div>

  {% include pagination.html %}
</section>

<section id="about">
  <div class="grid-xlarge">
    <div class="content">
      <div class="about-me">
        <h2>About Me</h2>
      </div>
      <div class="about-me__details">

        <div class="about-me__details--photo" data-aos="fade-in">
        </div>

        <div class="about-me__details--bio">
          <div>
            <p>Structure and form. Collaboration and curiosity. The big picture and the details. And, above all, a passion for the creation of meaningful experiences.</p>

            <p>A designer by practice and composer by training, these concerns have guided me through both halves of my career. Together, they form the backbone of my design philosophy:

            <ul>
              <li><h3>Respect the user. If someone has given you their time, you owe them the best experience you can provide.</h3></li>
              <li><h3>Know your business before serving others. Without a clear strategic vision, your products will suffer.</h3></li>
              <li><h3>Solve the right problems. Don’t stop digging until you understand the "why" for every “what”.</h3></li>
            </ul></p>

            <p>I believe that the best teams are made of people who whose work doesn’t fit neatly into a single box. This has motivated me to build a broad skillset—from research and strategy through design, development, and launch.</p>

            <p>Away from the computer, I try to spend as much time as I can in the mountains. When I’m at home, though, you can often find me using my musical training to write and perform songs for, and about, my cats.</p>

            <p>Please <a href="mailto:duncan.s.schouten@gmail.com">get in touch</a> if you’d like to talk about a project, or maybe want to hear one of the songs.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
