//----------------------------------------------
// Callouts
//----------------------------------------------
.callout {


  &.left-highlight {
    margin-left: -0.4em;
    padding-left: .7em;

    &.red {
      border-left: 0.2rem solid $color-CGPH-red;
    }

    &.green {
      border-left: 0.2rem solid $color-CGPH-green;
    }

    &.grey {
      border-left: 0.2rem solid $color-grey;
    }

    &.list-indent {
        margin-left: 0;
    }

    & ul, ol, p:last-child {
      margin-bottom: 0 !important;
    }
  }

  &.top-margin {
    margin-top: 1.5em;
  }

  &.bottom-margin {
    margin-bottom: 1.5em;
  }

}
