//----------------------------------------------
// Callouts
//----------------------------------------------
.callout {

  &.left-highlight, &.summary {
    padding-left: .7em;

    &.red {
      border-left: 0.2rem solid $color-CGPH-red;
    }

    &.green {
      border-left: 0.2rem solid $color-CGPH-green;
    }

    &.grey {
      border-left: 0.2rem solid $color-grey;
    }

    &.list-indent {
        margin-left: 0;
    }

    & ul, ol, p:last-child {
      margin-bottom: 0 !important;
    }

    & h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
    }
  }

  &.top-margin {
    margin-top: 1.5em;
  }

  &.bottom-margin {
    margin-bottom: 1.5em;
  }

  &.summary {
   background: $color-mediumgrey;
   width: 105%;
   border-radius: 8px;
   padding: 1.5em 1em;


   &.bottom-margin {
     margin-bottom: 2em;

     @media (min-width: $mq-small) {
       margin-bottom: 3em;
     }

     @media (min-width: $mq-xlarge) {
       margin-bottom: 4em;
     }

   }
  }
}
