//----------------------------------------------
// Red (left side accent)
//----------------------------------------------
.callout {

  &.left-highlight {
    margin-left: -0.4em;
    border-left: 0.2rem solid $color-CGPH-red;
    padding-left: .7em;

    & ul, ol, p:last-child {
      margin-bottom: 0 !important;
    }
  }

  &.single-item {
    margin-bottom: 1.5em;
  }
}
