//----------------------------------------------
// Footer
//----------------------------------------------
.footer {

  &__container {
    margin-top: 0;

    &--copyright {
      text-align: center;
    }
  }

  &__social {
    margin-bottom: 1em;
  }
}
