//----------------------------------------------
// Table styles
//----------------------------------------------
.styled-table {
  margin-bottom: 1.5em;

  &.striped {
    margin-left: -0.6em;
    margin-right: -0.6em;

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th, td {
      text-align: left;
      padding: 0.6em;
    }

    td {
        vertical-align: top;
    }
  }
}
