//----------------------------------------------
// Headings
//----------------------------------------------

#markdown {
  h2 {

    &.portfolio-item {

      &.section-title {
        font-family: $font-post;
        margin: 5em;
        text-align: center;
      }
    }
  }
}


//----------------------------------------------
// H2 Theme
//----------------------------------------------
h2:not(.posts__text):not(.related__text) {
  $fontSize: 2em;

  font-family: $font-post;
  font-size: $fontSize;
  line-height: 1.4;

  @media (min-width: $mq-xlarge) {
    font-size: $fontSize + 0.25em;
  }
}
