---
layout: compress
pagination:
  enabled: true
---
<!DOCTYPE html>
<html lang="en" class="smooth-scrolling">
<head>

  {% include head.html %}

</head>
<body id="{% if page.title %}{{ page.title | slugify }}{% else %}home{% endif %}" class="{{ page.layout | downcase }}-layout">

  {% if site.google_tag_manager %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
    <!-- End Google Tag Manager (noscript) -->
  {% endif %}

  {% include header.html %}

  <main class="💈">

    {{ content }}

  </main>

  {% include footer.html %}

</body>
</html>
