---
layout: default
pagination:
  enabled: true
---
<div class="post">
  <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="post__header section-padding--double">
      <div class="grid-small">
        <h2 itemprop="name headline">{{ page.title }}</h2>

        <!-- <time class="post__date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %b %Y" }}</time> -->
      </div>
    </div>

    {% if page.image %}
      <div class="post__img">
        <div>
          <figure class="absolute-bg" style="background-image: url('{{ page.image }}');"></figure>
        </div>
      </div>
    {% endif %}

    <div class="post__content section-padding">
      <div class="grid">
        <div id="markdown" itemprop="articleBody">
          {{content}}
        </div>

        <!-- {% include share.html %} -->
      </div>
    </div>

  </article>
</div>

<!-- Links to Previous/Next posts -->
{% if page.collection %}
  {% assign collection = site[page.collection] | sort: 'sort_order' %}
  {% assign prev = collection | last %}
  {% assign next = collection | first %}

  {% for item in collection %}
    {% if item.title == page.title %}
      <!-- {% unless forloop.first %} -->
        {% assign prev = iterator %}
      <!-- {% endunless %} -->

      <!-- {% unless forloop.last %} -->
        {% assign next = collection[forloop.index] %}
      <!-- {% endunless %} -->
    {% endif %}

    {% assign iterator = item %}
  {% endfor %}
{% endif %}


{% if next %}
<section class="related section-padding" style="text-align: center;">
  <div class="grid">
    <h3 class="related__title">Next Project</h3>
    <div class="">
      <h2 class="related__title" style="margin-bottom: 0.6em;">{{ next.title }}</h2>
      <div class="related__links">
        <a class="button homepage" href="{{ '/' | prepend: site.baseurl }} ">Back to homepage</a>
        <a class="button next-project" href="{{ next.url }} ">Read case study</a>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- End links to Previous/Next posts -->
